/*elements<cards>*/
.element {
  display: flex;
  flex-direction: column;
  list-style: none;
}
/*element__image*/
.element__img {
  width: 282px;
  object-fit: fill;
  height: 282px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.element__descr {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
.element__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 0;
}

/*element__heart-button*/
.element__like-button {
  background: transparent url("../images/icons/Like\ Button_disabled.svg")
    center;
  flex-shrink: 0;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in;
}

/*button states*/
/*button:hover*/
.element__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.element__like-button_active {
  background: url(../images/icons/like-button-active.svg);
}

.element__delete-button {
  background: transparent url(../images/icons/delete-icon.svg) center no-repeat;
  width: 18px;
  height: 20px;
  cursor: pointer;
  border: none;
  position: relative;
  top: 36px;
  left: calc(100% - 33px);
}

.element__delete-button:hover {
  opacity: 0.6;
}
