/*footer*/
.footer {
  padding-top: 67px;
  padding-bottom: 60px;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
