/*header*/
.header {
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}
.header__img {
  width: 173px;
  height: 33px;
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
  }
  .header__img {
    width: 126px;
    height: 24px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1100px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
  }

  .header__img {
    width: 126px;
    height: 24px;
  }
}
