/*header*/
.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}
/*header__logo*/
/*header__title*/
/*header__descr*/
/*header__edit-button*/

@media screen and (min-width: 320px) and (max-width: 760px) {
  .header__logo {
    width: 126px;
    margin-left: 27px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header {
    padding-bottom: 32px;
  }
}
