.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: none;
}
.modal__opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: #ffff;
  margin: auto;
  border-radius: 10px;
}

.modal__close {
  border: none;
  background-image: url("../images/icons/Close\ Icon.svg");
  background-color: transparent;
  position: absolute;
  top: calc(100% + 5px);
  right: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
