/*profile*/
.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

/*profile__img*/
.profile__img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

/*profile__title*/
.profile__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: "normal";
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*profile__descr*/
.profile__descr {
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*profile__edit-button*/
.profile__edit-button {
  height: 24px;
  width: 24px;
  background: transparent url("../images/icons/Edit\ Button.svg") center
    no-repeat;
  border: white 2px solid;
  grid-area: button;
  margin-left: 25px;
  cursor: pointer;
}
/*profile__add-button*/
.profile__add-button {
  height: 50px;
  width: 150px;
  margin-left: auto;
  background: transparent url("../images/icons/Add\ Button.svg") center
    no-repeat;
  border: white 2px solid;
  cursor: pointer;
  border-width: 2px;
  border-radius: 2px;
}
/*button:hover*/
.profile__like-button:hover {
  transition: 0.5s;
}
/*1200*/
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .profile__info {
    grid-template-columns: minmax(auto, auto) auto;
  }
  .profile__title {
    font-size: 24px;
    line-height: 25px;
  }
  .profile__edit-button {
    padding-left: 10px;
  }
}
/*1500*/
@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .profile__info {
    grid-template-columns: minmax(auto, auto) auto;
  }
}
