/*profile*/
.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
}

/*profile__img*/
.profile__img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

/*profile__title*/
.profile__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: "normal";
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*profile__descr*/
.profile__descr {
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*profile__edit-button*/
.profile__edit-button {
  height: 24px;
  width: 24px;
  background: transparent url("../images/icons/Edit\ Button.svg") center
    no-repeat;
  border: white 2px solid;
  grid-area: button;
  margin-left: 25px;
  cursor: pointer;
}
/*profile__add-button*/
.profile__add-button {
  height: 50px;
  width: 150px;
  margin-left: auto;
  background: transparent url("../images/icons/Add\ Button.svg") center
    no-repeat;
  border: white 2px solid;
  cursor: pointer;
  border-width: 2px;
  border-radius: 2px;
}
/*button:hover*/
.profile__add-button:hover {
  opacity: 0.5;
}
.profile__edit-button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile__descr {
    justify-self: center;
    font-size: 14px;
    margin: 14px 0 36px 0;
    max-width: 282px;
    height: 18px;
  }
  .profile__img {
    justify-self: center;
    width: 127.5px;
    height: 127.5px;
  }
  .profile__title {
    font-size: 22px;
    padding-top: 26.25px;
    max-width: 196px;
    margin-left: 19px;
  }
  .profile__edit-button {
    margin-top: 24px;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 15px;
  }
  .profile__add-button {
    max-width: 282px;
    margin-left: 19px;
    margin-right: 19px;
  }
  .profile__add-button:hover {
    opacity: 0.5;
  }
  .profile__edit-button:hover {
    opacity: 0.5;
  }
}

@media screen and (min-width: 767px) and (mmax-width: 1280px) {
  .profile__add-button {
    margin-right: 19px;
  }
}
