@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(./inter-web/Inter-Black.woff2) format("./inter-web/woff2"),
    url(./inter-web/Inter-Black.woff) format("./inter-web/woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./inter-web/Inter-Medium.woff2) format("./inter-web/woff2"),
    url(./inter-web/Inter-Medium.woff) format("./inter-web/woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./inter-web/Inter-Regular.woff2) format("./inter-web/woff2"),
    url(./inter-web/Inter-Regular.woff) format("./inter-web/woff");
}
