.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  display: flex;
}

.modal_opened {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.modal__save-button-transparent {
  border: 1px solid #000000;
  border-radius: 2px;
}

.modal__save-button {
  height: 50px;
  margin-top: 48px;
  border: 2px solid #000000;
  border-radius: 2px;
  background-color: black;
  color: white;
}

.modal__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
  /*min-width: 430px;*/
  min-height: 330px;
}

.modal__close {
  width: 40px;
  height: 40px;
  background-image: url("/src/images/icons/modal-close.svg");
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  transition: opacity 0.4s;
}

.modal__close:hover {
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.modal__input {
  font-family: "Inter", Arial, sans-serif;
  height: 50px;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: 0;
}

.modal__form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.modal__button {
  font-family: "Inter", Arial, sans-serif;
  height: 50px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  margin-top: 18px;
  padding: 0;
  cursor: pointer;
}

.modal__container_image {
  background: none;
  padding: 0;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  display: flex;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__container-preview {
  position: relative;
}

.modal__image-preview {
  max-width: 100%;
  max-height: 540px;
}

.modal__caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 10px 0 0;
}

.modal__error {
  color: #ff0000;
  opacity: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__button_disabled {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  background: lightgray;
  pointer-events: none;
  user-select: none;
}

.modal__error_visible {
  opacity: 1;
}

@media screen and (max-width: 545px) {
  .modal__close {
    width: 32px;
    height: 32px;
    right: 0;
  }

  .modal__close_image {
    top: -35px;
    right: -35px;
  }
}

@media screen and (max-width: 486px) {
  .modal__container {
    padding: 25px 22px;
  }
}
