/*profile*/
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 51px;
  margin-top: 40px;
}

.profile__info {
  display: grid;
  align-items: center;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

/*profile__img*/
.profile__img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

/*profile__title*/
.profile__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*profile__descr*/
.profile__descr {
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*profile__edit-button*/
.profile__edit-button {
  height: 24px;
  width: 24px;
  background-size: auto auto;
  background: transparent url("../images/icons/Edit\ Button.svg") center
    no-repeat;
  border: white 1px solid;
  grid-area: button;
  margin-left: 18px;
  cursor: pointer;
}
/*profile__add-button*/
.profile__add-button {
  height: 50px;
  width: 150px;
  margin-left: auto;
  background: transparent url("../images/icons/Add\ Button.svg") center
    no-repeat;
  border: white 2px solid;
  cursor: pointer;
  border-radius: 2px;
}
/*button:hover*/
.profile__add-button:hover {
  opacity: 0.6;
}
.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 740px) {
  .profile {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .profile__img {
    margin: 38px 0 0;
  }
  .profile__descr {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 26px;
    max-width: 282px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 196px;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
    /*border-radius: 50%;*/
    background-size: 7px 7.5px;
    margin-left: 10px;
  }
  .profile__add-button {
    background: transparent url("../images/icons/Add Button.svg") center
      no-repeat;
    height: 50px;
    width: 150px;
    margin-left: auto;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 2px;
  }
}
