/*imports*/
@import url(../vendor/normalize.css);
@import url(../blocks/element.css);
@import url(../blocks/elements.css);
@import url(../blocks/footer.css);
@import url(../blocks/header.css);
@import url(../blocks/page.css);
@import url(../blocks/profile.css);
@import url(../blocks/style.css);
@import url(../fonts/inter-web.css);
@import url(../blocks/modal.css);
