/*imports*/
@import url(../vendor/normalize.css);
@import url(../blocks/element.css);
@import url(../blocks/footer.css);
@import url(../blocks/header.css);
@import url(../blocks/page.css);
@import url(../blocks/profile.css);
@import url(../fonts/inter-web.css);
/*content*/
.content {
  padding-left: 200px;
  padding-right: 200px;
}

/*page*/
.page {
  background-color: black;
  color: white;
}

.page__section {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 880px;
}

/*header*/
.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(239, 239, 240, 0.7);
}
/*header__logo*/
/*header__title*/
/*header__descr*/
/*header__edit-button*/

/*profile*/
/*profile__img*/
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

/*profile__title*/
/*profile__descr*/
/*profile__edit-button*/
/*profile__add-button*/

/*elements<cards>*/
/*element__img*/
/*element__descr*/
/*element__image*/
.element__image {
  max-width: 282px;
  max-height: 282px;
  border-radius: 10 10 0 0;
}
/*element__heart-button*/
.elements__list {
  display: flex;
  flex-direction: column;
}

/*button states*/
/*button:hover*/
/*button:active*/

/*footer*/
.footer {
  padding-top: 67px;
}
.footer__copywrite {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-top: 0;
  margin-bottom: 0;
}
